! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt*iconFile: /home/andrew/.icons/Faience/apps/32/Terminal.png

! URXVT FONTS
!------------------------------------------------


*.font: xft:Terminus:style=Regular:size=12, \

        xft:FontAwesome:style=Regular:size=12


!URxvt.font:xft:Inconsolata,FontAwesome:pixelsize=18
!URxvt.boldFont:xft:Inconsolata:bold:pixelsize=18
!URxvt.italicfont:xft:Inconsolata:italic:pixelsize=18
!URxvt.bolditalicFont:xft:Inconsolata:bold:italic:pixelsize=18
!URxvt*letterSpace: +1
!URxvt*allow_bold: true

! URXVT FONT SETTINGS
!------------------------------------------------
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! URXVT ENABLE LINK SUPPORT
!------------------------------------------------

URxvt.perl-ext-common: default,matcher,vtwheel,clipboard
!tabbed
URxvt.matcher.button:        1
URxvt.perl-ext:              default,url-select
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/chromium
URxvt.url-select.underline:  true

!disable the fucking bell
URxvt.insecure: 			false

! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------
URxvt*saveLines: 300000
URxvt.scrollBar: false
!URxvt*scrollstyle: plain
URxvt*cursorBlink: true
URxvt*cursorUnderline: true
URxvt.scrollTtyOutput: false
URxvt.scrollWidthBuffer: false
URxvt.scrollTtyKeypress: true

! URXVT TABS
!------------------------------------------------

URxvt.tabbedex.autohide: 	yes
URxvt.tabbedex.tabbar-fg: 	2
URxvt.tabbedex.tabbar-bg: 	0
URxvt.tabbedex.tab-fg:    	10
URxvt.tabbedex.tab-bg:    	0
URxvt.tabbedex.title: 		yes
URxvt.tabbedex.new-button:  no

! URXVT FULLSCREEN TOGGLE
!------------------------------------------------

URxvt.keysym.F11: 			perl:fullscreen:switch

!--------------------------------------------
! URxvt Colors

*foreground:	#ecf0f1
*background:	#141516
*cursorColor:	#ecf0f1
*color0:	#3e464e
*color8:	#3e464e
*color1:	#db0a5b
*color9:	#db0a5b
*color2:	#3fc380
*color10:	#3fc380
*color3:	#f2784b
*color11:	#f2784b
*color4:	#22a7f0
*color12:	#22a7f0
*color5:	#f64747
*color13:	#f64747
*color6:	#55aeae
*color14:	#55aeae
*color7:	#ecf0f1
*color15:	#ecf0f1
