[Unit]
BindsTo=dev-sony_ds4.device
After=dev-sony_ds4.device

[Install]
WantedBy=dev-sony_ds4.device

[Service]
Type=oneshot

ExecStart=/home/andrew/.config/ds4.sh

